	{% extends "base.html" %}

	{% block content %}
	<style type="text/css">
		.card {
			max-width: 700px;
		}

		.container{
			padding: 20px;
		}
	</style>

<div class = 'container'>
	<div class="row">
		<!-- Blog Post -->
		<div class="card m-auto">
			<img class="card-image-top" src="{{blog_post.image.url}}">
			<div class="card-body my-2">
				<h2 class="card-title">{{blog_post.title}}</h2>
				<p class="card-text">{{blog_post.body|safe}}</p>
				<!-- if you type html in blog, safe will enable it -->
				<p>
				{% if blog_post.author == request.user %}
					<a href= "{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a>
					<!-- Adding a button for editing blog post if user and post aurthor are same -->
				{% endif %}
				</p>
			</div>
			<div class="card-footer text-muted">
				Updated on {{blog_post.date_updated}} bu {{blog_post.author}}	
			</div>
		</div>
		<!-- End Blog Post -->

	</div>	

{% if comments %}
	{% for i in comments %}
		<div class="blog-post-container">
			{% include 'comments/snippets/comment_snippet.html' with comments=i %}
		</div>
	{% endfor %}
{% else %}
	<div class="blog-post-container">
		{% include 'comments/snippets/comment_snippet.html' with query=query %}
	</div>
{% endif %}

	{% endblock content %}

<!-- Pagination -->
{% include 'comments/snippets/comment_pagination.html' with comments=comment_text %}	
</div>

<!-- Comments-->

