{% extends "base.html" %}

{% block content %}

<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.h3{
	text-align:center;
}

</style>

<main class="form-signin w-100 m-auto">
  <form method = "post">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Account</h1>
    <div class="form-floating">
      <input type="email" name = "email" class="form-control" id="inputEmail" placeholder="Email address" required autofocus value={{account_form.initial.email}}>
    </div>
    <div class="form-floating">
      <input type="text" name = 'username' class="form-control" id="inputUsername" placeholder="Username" required value={{account_form.initial.username}}>

    </div>
	{% for field in account_form %}
		<p>
		{% for error in field.erros %}
			<p style="color: red;">{{error}}</p>
		{% endfor %}
		</p>
	{% endfor %}
		
	{% if account_form.non_field_errors %}
		<div style="color:red;">
			<p>{{account_form.non_field_errors}}</p>
		</div>
	{% endif %}

	{% if success_message %}
		<p style="color:green; text-align: center;">{{success_message}}</p>
	{% endif %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save Changes</button>
  </form>
</main>

<div class="d-flex flex-column">
	<a class="m-auto" href="{% url 'password_change' %}">Change Password</a>
</div>


<div class="container mt-4 p-4">
	<div class="row">
		<div class="blog-posts">
			<h3 class="mb-3 font-weight-normal">Blog posts:</h3>
			{% if blog_posts %}
			<ul> <!-- unordered list -->
				{% for post in blog_posts %}
					<a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;">
						<!-- because in view you are passing slug also -->
						<li class="list-group-item">{{post}}</li> <!-- list items -->
					</a>
				{% endfor %}
			</ul>
			{% else %}
			<p>You have no blog posts. Create a post<a href="{% url 'blog:create' %}">here</a>.</p>
			{% endif %}
		</div>
	</div>	
</div>


<!-- refering to the change password view in urls.py -->


	<!-- if post method is involved, and token is a django thing for security that if you stay on the page for too long etc. form won't work -->
<!-- <h2>Account</h2> -->
<!-- <form method = "post"> {% csrf_token %} 
	{% for field in account_form %}
		<p>
			{{field.label_tag}} 
			{{field}}

			{% if field.help_text %}
				<small style="color: grey;">{{field.help_text}}</small>
			{% endif %}

		</p>
	{% endfor %}

	{% for field in account_form %}
		{% for error in field.erros %}
			<small style="color: red;">{{error}}</small>
		{% endfor %}
	{% endfor %}

	{% if account_form.non_field_errors %}
		<div style="color:red;">
			<p>{{account_form.non_field_errors}}</p>
		</div>
	{% endif %}

	<button type="submit">Save Changes</button>
	
</form> -->

{% endblock content %}

